
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  --grid-color: #000;
  --grid-weight: 1px;
  --grid-spacing: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: #000;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
}

.contain {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 468px;
  padding: 0 16px;
}

button,
input,
select {
  appearance: none;
  display: block;
  background: #fff;
  padding: 16px;
  margin: 12px 0;
  border: 1px solid #000;
  border-radius: 0;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}


button:focus,
input:focus,
select:focus {
  color: purple;
  outline: none;
  border: 1px solid purple;
}

.select {
  position: relative;
  flex: 1 0 100%;
}

.select::after {
  content: '👇';
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 24px;
  line-height: 1em;
}

select {
  width: 100%;
}

input {
  width: 0;
  flex: 1 1 auto;
  margin-right: 16px;
  cursor: text;
}

button {
  flex: 0 1 auto;
  position: relative;
  font-size: 24px;

  color: #FFFFFF;
  padding: 0 16px;

  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}